.sefwpb-twitter-embed {
  --align: left;
}

.sefwpb-twitter-embed-container {
  display: flex;
  justify-content: var(--align);
  align-items: center;
}

.sefwpb-twitter-embed-temp {
  width: 100%;
  height: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}
